.container {
  clear: both;
}
@media (min-width: 38em) {
  .content {
    font-size: 15px;
  }
}
.masthead-title img {
	float : left;
	position : relative;
	top : -15px;
	margin-right : 8px;
}
.sidebar-item .license {
  font-size : smaller;
}
.left-image {
	float : left;
	margin-right : 10px;
}
.right-image {
	float : right;
	margin-left : 10px;
}
.keyline {
	border : 1px solid black;
}
.gimme-more {
  text-align : right;
}
div.gist-data.gist-syntax {
  max-width : 28rem;
  max-height : 200px;
  overflow : scroll;
}
@media (min-width: 38em) {
  div.gist-data.gist-syntax {
    max-width : 32rem;
    max-height : 300px;
    overflow : scroll;
  }
}
@media (min-width: 56em) {
  div.gist-data.gist-syntax {
    max-width : 38rem;
    max-height : 400px;
    overflow : scroll;
  }
}